<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Student <%= userId %></title>
  </head>
  <body data-userId="<%= userId %>">
    <h1>Hello Student <%= userId %></h1>
    <h4 id="notification"><!-- Some info will be displayed here--></h4>
    <button onclick="requestForHelp()">Request For Help</button>
    <div id="map"><!-- We will load a map here later--></div>
    <!--Load JavaScripts -->
    <!-- Load socket.io client library -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- Load JQuery from a CDN -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"
    ></script>
    <!-- load libraries before your JS code
      Write rest of your JS code here -->
    <script type="text/javascript">
      var socket = io();
      //Fetch userId from the data-atribute of the body tag
      var userId = document.body.getAttribute('data-userId');
      /*Fire a 'join' event and send your userId to the server, to join a room - room-name will be the userId itself!
       */

      socket.emit('join', { userId: userId });
      //Declare variables, this will be used later
      var requestDetails = {};
      var copDetails = {};
      var map, marker;
      //student's info... This section will be the handler that we will be writing for when they click request for help
      requestDetails = {
        studentId: userId,
        location: {
          address: '3 ames st, cambridge MA, 02139',
          latitude: 42.360411,
          longitude: -71.088237
        }
      };
      //when button is clicked, fire request-for-help and send student's userId and location
      function requestForHelp() {
        socket.emit('request-for-help', requestDetails);
        console.log('got your click');
      }
      //after request for help is sent, now student needs to listen to any request-accepted event
      socket.on('request-accepted', function(eventData) {
        copDetails = eventData; //Save cop details
        //Display Cop details
        console.log('in student.html: ', eventData);
        document.getElementById('notification').innerHTML =
          'An MIT police is coming to your rescue! \n' +
          JSON.stringify(copDetails);
      });
    </script>
  </body>
</html>

<!-- difference between socket and io
socket.emit('message', "this is a test"); //sending to sender-client only
socket.broadcast.emit('message', "this is a test"); //sending to all clients except sender
socket.broadcast.to('game').emit('message', 'nice game'); //sending to all clients in 'game' room(channel) except sender
socket.to('game').emit('message', 'enjoy the game'); //sending to sender client, only if they are in 'game' room(channel)
socket.broadcast.to(socketid).emit('message', 'for your eyes only'); //sending to individual socketid
io.emit('message', "this is a test"); //sending to all clients, include sender
io.in('game').emit('message', 'cool game'); //sending to all clients in 'game' room(channel), include sender
io.of('myNamespace').emit('message', 'gg'); //sending to all clients in namespace 'myNamespace', include sender
socket.emit(); //send to all connected clients
socket.broadcast.emit(); //send to all connected clients except the one that sent the message
socket.on(); //event listener, can be called on client to execute on server
io.sockets.socket(); //for emiting to specific clients
io.sockets.emit(); //send to all connected clients (same as socket.emit)
io.sockets.on() ; //initial connection from a client. -->
